@font-face {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    src: url(/fonts/impact.zip);
}

@font-face {
    font-family: popins;
    src: url(../../fonts/Poppins.zip);
}