/* header */
.main-header {
    background-image: linear-gradient(to right, rgb(66, 144, 170), rgb(49, 218, 162));
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.main-header .main-nav a {
    text-decoration: none;
    color: var(--clr2);
}

.main-header .menu-btn{
    color:rgb(61 166 167);
    background-color: var(--clr2);
    border: 0;
    border-radius: 50%;
    font-size: 1.5rem;
    transition: .3s;
}

/* gallery */

.main-container .main-page {

    background-color: var(--clr4);
    padding: 25px;
    border-radius: 10px;
    margin: 1rem;
}

.gallery-container .img:hover {
    outline: 1px solid white;
}

.main-container .main-page .filter-container {
    color: var(--clr2);
    align-items: baseline;
}

.main-container .filter-container input {
    background-color: var(--clr5);
    border: 0;
    color: var(--clr2);
    padding: 1rem;
    border-radius: 30px;
}

.main-container .filter-container .words-filter {
    border-radius: 30px;
    background-color: var(--clr6);
    padding: 0.7rem;
    box-shadow: 0 3px 6px 1px rgba(0, 0, 0, 0.15);
    margin-inline-end: 20px;
}

.main-container .filter-container .more-btn {
    background-image: linear-gradient(to right, rgb(66, 144, 170), rgb(49, 218, 162));
    border-radius: 30px;
    border: 0;
    color: var(--clr2);
    padding: 8px;
    box-shadow: 0 3px 6px 1px rgba(0, 0, 0, 0.15);

    transition: 0.3s;
    flex-grow: 1;
}

.main-container .main-page .gallery-container {
    display: grid;
}

.main-page .gallery-container .img {
    border-radius: 5px;
}

/* PAGE2 */

/* editor */

.edit-page {
    margin-top: 20px;
    justify-content: center;
    align-items: center;
}

.edit-page .canvas-container canvas {
    border: 8px solid rgba(253, 253, 253, 0.245);
    border-radius: 30px;
}

.canvas-container {
    /* position: relative; */
    margin-bottom: 40px;
    /* background-color: aquamarine; */
    width: 500px;
    height: 500px;
}

.edit-page .edit-container {

    width: 100%;

    background-color: var(--clr4);
    border-radius: 30px;
    padding: 20px;

    /* display: flex;
    flex-direction: column; */
    /* justify-content: space-between; */

    /* display: grid; */
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 10px;

}

.edit-container input {
    background-color: var(--clr2);
    border-radius: 30px;
    grid-row: 1/2;
    grid-column: 1/7;

    text-align: center;
    color: black;
}

.edit-container .txt-controll {
    grid-row: 2/3;
    grid-column: 1/7;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


.edit-container .txt-edit {
    grid-row: 3/5;
    grid-column: 1/7;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;

    background-color: rgb(57 181 166);
    border-radius: 15px;
    padding: 5px;
}

/* BOTTONS */

.edit-container .txt-edit .btn {
    background-color: var(--clr2);
    padding: 5px;
    font-weight: 700px;
}

.edit-container .txt-controll .btn {
    /* padding: 0 7px; */
    color: var(--clr2);
}

.edit-container .txt-controll .btn:not(:last-child) {
    margin-inline-end: 20px;
}

.txt-controll .switch-btn {
    background-color: rgb(88, 180, 208);
}

.txt-controll .add-btn {
    background-color: rgb(79, 216, 118);
}

.txt-controll .remove-btn {
    background-color: rgb(222, 51, 51);
}

.txt-controll .up-btn {
    background-color: rgb(220, 161, 22);
}

.txt-controll .down-btn {
    background-color: rgb(205, 60, 147);
}

.edit-container .emojis-container {
    grid-row: 5/6;
    grid-column: 1/7;

    background-color: var(--clr2);
    border-radius: 30px;
}

.edit-container .save-btn {
    background-color: rgb(168, 72, 190);
    grid-row: 6/7;
    grid-column: 4/7;
}

.edit-container .share-btn {
    background-color: rgb(75, 129, 170);
    grid-row: 6/7;
    grid-column: 1/4;
}

/* SCREEN */

.screen {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.556);
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    z-index: 10;
  
    transition: opacity 0.6s;
  }
  
  body.menu-open .screen {
    pointer-events: auto;
    opacity: 1;
  }


/* mq */


@media(max-width:740px) {

    /* HEADER */
    .main-header {
        padding: 0 1.5rem;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 10;
    }

    .main-header .main-nav {
        position: fixed;
        display: flex;
        flex-direction: column;
        top: 75px;
        left: 0;
        width: 100%;
        font-size: 1.5em;

        transition: 0.5s;
        opacity: 1;

        transform: translateX(100%);
        transition: transform 0.6s;

    }

    body.menu-open .main-nav {
        transform: translateX(0);
    }

    .main-header .main-nav li {
        width: 100%;
        background-color: rgba(51, 93, 95, 0.782);
        height: 80px;
        margin-bottom: 10px;
        text-align: center;
        padding: 15px;
    }

    /* MAIN CONTAINER */
 
    .main-container .main-page{
        margin: 90px 1rem 1rem 1rem;
    }

    .main-container .main-page .filter-container {
        flex-wrap: wrap;
        margin-bottom: 5px;
    }

    .main-page .filter-container input {
        width: 100%;
        margin-bottom: 20px;
    }

    .main-container .filter-container .words-filter {
        width: 80%;
        margin-bottom: 20px;
    }

    .main-container .main-page .gallery-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
    }

    .main-container .edit-page {
        flex-direction: column;
    }

    /* .edit-page .canvas-container {
        margin-bottom: 10px;
        height: 500px;
        margin: 20px;
    } */

    .edit-page .edit-container {
        /* margin-left: 20px; */
        /* margin-right: 50px; */
        width: 70%;
    }


}

@media(min-width:740px) {

    /* HEADER */
    .main-header {
        border-radius: 35px;
        padding: 0 2rem;
        margin: 0.937rem 0.5rem;
    }

    .main-header h2 {
        margin-inline-start: 5rem;
    }

    .main-header .menu-btn {
        display: none;
    }

    .main-header .nav{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center; 
    }

    .main-header .main-nav a{
        height: 130px;
    }

    .main-header .main-nav a{
        padding: 7px;
        border-radius: 30px;
    }
    
    .main-header .main-nav a:hover {
        color: var(--clr3);
        background-color: var(--clr2);
    }
    
    .main-header .main-nav li:first-child {
        margin-inline-end: 3.75rem;
    }
    
    .main-header .main-nav li:last-child {
        margin-inline-end: 5rem;
    }

    /* MAIN CONTAINER */

    .main-container .main-page .filter-container {
        flex-direction: row;
        margin-bottom: 30px;
    }

    .main-page .filter-container input {
        margin-inline-end: 15px;
        flex: 1;
        flex-grow: 10;
    }

    .main-container .filter-container .words-filter {
        flex-grow: 10;
    }

    .main-container .main-page .gallery-container {
        grid-template-columns: repeat(5, 1fr);
        gap: 1rem;
    }

    .edit-page .edit-container {
        height: 500px;
        width: 80%;
        margin: 0 50px 0 25px;
    }

    /* .edit-page .canvas-container {
        height: 500px;
        width: 80%;
        margin: 0 25px 0 50px;
    } */

}

@media(min-width:950px) {

    /* MAIN CONTAINER */

    .main-container .main-page .filter-container {
        margin-bottom: 60px;
    }

    .main-container .main-page .gallery-container {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 1.562rem;
        padding: 0 25px;

    }

}