

/* לא העברתי הכל לתיקיות כי  זה עשה לי שגיאה  */


/* header */
.main-header {
    background-image: linear-gradient(to right, rgb(66, 144, 170), rgb(49, 218, 162));
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.main-header .main-nav a {
    text-decoration: none;
    color: var(--clr2);
}

.main-header .menu-btn {
    color: rgb(61 166 167);
    background-color: var(--clr2);
    border: 0;
    border-radius: 50%;
    font-size: 1.5rem;
    transition: .3s;
}

/* MAIN PAGE */

/* GALLERY*/

.main-container .main-page {
    background-color: var(--clr4);
    padding: 25px;
    border-radius: 10px;
}

.gallery-container .img:hover {
    outline: 1px solid white;
}

.main-container .main-page .filter-container {
    color: var(--clr2);
    align-items: baseline;
    justify-content: center;
}

.main-container .filter-container input {
    border-radius: 30px;
    background-color: var(--clr5);
    border: 0;
    color: var(--clr2);
    padding: 1rem;
    box-shadow: 0 3px 6px 1px rgba(0, 0, 0, 0.15);
}

.main-container .filter-container .words-filter {
    border-radius: 30px;
    background-color: var(--clr6);
    padding: 0.7rem;
    box-shadow: 0 3px 6px 1px rgba(0, 0, 0, 0.15);

    width: 80%;
    margin-inline-end: 20px;
}

.main-container .filter-container .more-btn {
    background-image: linear-gradient(to right, rgb(66, 144, 170), rgb(49, 218, 162));
    border-radius: 30px;
    border: 0;
    color: var(--clr2);
    box-shadow: 0 3px 6px 1px rgba(0, 0, 0, 0.15);

    transition: 0.3s;
    padding: 5px 10px;
    font-size: 0.7rem;
    text-align: center;
}

.main-container .main-page .gallery-container {
    display: grid;
}

.main-page .gallery-container .img {
    border-radius: 5px;
}



/* EDIT PAGE */

/* editor */

.edit-page {
    justify-content: center;
    align-items: center;
}

.edit-page .canvas-container canvas {
    border: 8px solid rgba(253, 253, 253, 0.245);
    border-radius: 30px;
}

.edit-page .edit-container {
    background-color: var(--clr4);
    border-radius: 30px;
    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.edit-container .txt-controll {
    /* background-color: aqua; */

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 15px;
}

.txt-controll .txt-input {
    background-color: var(--clr2);
    border-radius: 30px;
    width: 80%;

    text-align: center;
    color: black;
}

.txt-controll form {
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.txt-controll form .btn {
    font-size: 1rem;
    width: 10%;
    width: 50px;
    padding: 0px;
}

.txt-controll .btn {
    border: 0;
    padding: 5px 10px;
    border-radius: 7px;
    color: var(--clr2);
    box-shadow: inset 0px -3px 4px 0px #0000009e;
}

.edit-container .txt-edit {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 5px;

    background-color: rgb(57 181 166);
    border-radius: 15px;
    padding: 15px;
    margin-bottom: 15px;
}

.txt-edit select {
    grid-column: 1/4;
    border-radius: 7px;
}

.txt-edit input {
    border-radius: 7px;
    display: none;
}

.edit-container .emojis-container {
    background-color: var(--clr2);
    padding: 10px;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 15px;
    border-radius: 30px;
}

.edit-container .emojis-container .imoji:hover {
    cursor: pointer;
    font-size: 1.7rem;
}

.edit-container .save-container {
    display: flex;
}



/* mq */
@media(max-width:800px) {

    /* HEADER */
    .main-header {
        padding: 0 1.5rem;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 10;
    }

    .main-header .main-nav {
        position: fixed;
        display: flex;
        flex-direction: column;
        top: 79px;
        left: 0;
        width: 100%;
        font-size: 1.5em;
        transition: 0.5s;
        opacity: 1;

        transform: translateX(100%);
        transition: transform 0.6s;
    }

    body.menu-open .main-nav {
        transform: translateX(0);
    }

    .main-header .main-nav li {
        width: 100%;
        background-color: rgba(51, 93, 95, 0.782);
        height: 80px;
        margin-bottom: 10px;
        text-align: center;
        padding: 15px;
    }

    /* MAIN PAGE */

    /* filter */

    .main-container .main-page {
        margin: 90px 1rem 1rem 1rem;
    }

    .main-container .main-page .filter-container {
        flex-wrap: wrap;
        margin-bottom: 5px;
    }

    .main-page .filter-container input {
        width: 100%;
        margin-bottom: 20px;
    }

    .main-container .filter-container .words-filter {
        width: 70%;
        margin-bottom: 20px;
        padding: 10px;
    }

    .main-container .filter-container .more-btn {
        width: 20%;
        margin-bottom: 20px;
    }

    /* GALLERY */

    .main-container .main-page .gallery-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
    }

    /* EDIT PAGE */


    .main-container .edit-page {
        flex-direction: column;
    }

    /* CANVAS CONTAINER */

    .edit-page .canvas-container {
        margin: 110px 50px 30px 50px;
        width: 300px;
        height: 300px;
    }

    /* EDIT CONTAINER */

    .edit-page .edit-container {
        width: 320px;
        height: 345px;
    }

    .edit-container form input {
        padding: 7px;
    }

    .txt-controll .btn {
        font-size: 1.5rem;
    }

    .txt-edit .btn {
        font-size: 1rem;
    }

}

@media(min-width:800px) {

    /* HEADER */
    .main-header {
        border-radius: 35px;
        padding: 0 2rem;
        margin: 0.937rem 0.5rem;
    }

    .main-header h2 {
        margin-inline-start: 5rem;
    }

    .main-header .menu-btn {
        display: none;
    }

    .main-header .nav {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .main-header .main-nav a {
        height: 130px;
    }

    .main-header .main-nav a {
        padding: 7px;
        border-radius: 30px;
    }

    .main-header .main-nav a:hover {
        color: var(--clr3);
        background-color: var(--clr2);
    }

    .main-header .main-nav li:first-child {
        margin-inline-end: 3.75rem;
    }

    .main-header .main-nav li:last-child {
        margin-inline-end: 5rem;
    }

    /* MAIN CONTAINER */

    /* mainPage */

    /* FILTER */

    .main-container .main-page {
        margin: 1rem;
    }

    .main-container .main-page .filter-container {
        flex-direction: row;
        margin-bottom: 30px;
    }

    .main-page .filter-container input {
        margin-inline-end: 15px;
        width: 40%;
    }

    .main-container .filter-container .words-filter {
        width: 50%;
    }

    .main-container .filter-container .more-btn {
        width: 10%;
    }

    /* GALLERY */

    .main-container .main-page .gallery-container {
        grid-template-columns: repeat(5, 1fr);
        gap: 1rem;
    }

    /* EDIT PAGE */
    .edit-page .edit-container {
        height: 500px;
        width: 80%;
        margin: 0 50px 0 25px;
    }

    /* CANVAS CONTAINER */

    .edit-page .canvas-container {
        margin: 30px;
        width: 400px;
        height: 400px;
    }

    /* EDIT CONTAINER */

    .edit-page .edit-container {
        width: 400px;
        height: 400px;
        margin: 30px;
    }

    .txt-controll .txt-input {
        padding: 15px;
        width: 70%;
    }

    .txt-controll form .btn {
        width: 20%;
        font-size: 2rem;
    }

    .txt-controll .btn {
        font-size: 2rem;
    }

    .txt-edit .btn {
        font-size: 1.1rem;
    }

}

@media(min-width:950px) {

    /* MAIN CONTAINER */

    /* MAIN PAGE */

    .main-container .main-page .filter-container {
        margin-bottom: 55px;
    }

    .main-container .main-page .gallery-container {
        gap: 1rem;
        padding: 0 25px;
    }

    /* edit page */

    /* CANVAS CONTAINER */

    .edit-page .canvas-container {
        width: 500px;
        height: 500px;
    }

    /* EDIT CONTAINER */

    .edit-page .edit-container {
        width: 500px;
        height: 409px;
    }

}